﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("~/Icon.png")" />
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap.css"/>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/site.js"></script>
    <script src="/Scripts/analytics.js"></script>
    <script src="/Scripts/predictive.js"></script>
    <script src="/Scripts/map.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dunnelNav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
          <a class="navbar-brand" href="@Url.Action("Index", "Home")">Dunnel.io</a>
        </div>
        <div class="collapse navbar-collapse" id="dunnelNav">
          <div>
            <ul class="nav navbar-nav">
              <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="@Url.Action("Index", "Search")">Search</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2 class="text-center">@ViewBag.Title</h2><br />
      @RenderBody()
    </div>
    @RenderSection("scripts", false)
  </body>
</html>
<footer class="footer panel-footer">
  <p class="container">Copyright Daniel Cockerham &copy; @DateTime.Now.Year &middot; All Rights Reserved;</p>
</footer>
