﻿<h2 class="text-center">Sign In</h2>

<div class="form-input">
  @using (Html.BeginForm())
  {
    <div class="col-md-6 text-center col-md-offset-3">
      <form role="form">
        <div class="form-group">
          <label for="" class="control-label">Password</label>
          <div class="password-input input-group input-group-sm center-block">
            <input type="password" name="password" id="password" class="form-control "/>
          </div>
        </div>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  }
</div>