﻿@model Dunnel.io.Models.SearchResultsViewModel

<div class="results">
  @foreach (var result in Model.Results)
  {
    <p>City - @result.Name</p>
    <p>County - @result.County</p>
  }
</div>

<div class="map-center ">
  <div id="map"></div>
</div>