﻿<h2 class="text-center">Search</h2>
<br/>

<h4 class="text-center">Enter a search term and you can search for whatever I choose to let you search for (spoiler alert, it's nothing right now).</h4>
<div class="form-input">
@using (Html.BeginForm("Search", "Search"))
{
  <div class="col-md-6 text-center col-md-offset-3">
    <form role="form">
      <div class="form-group">
        <label for="" class="control-label">Search term</label>
        <div class="password-input input-group input-group-sm center-block">
          <input type="text" name="searchTerm" id="searchTerm" class="form-control " />
        </div>
      </div>
      <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
}
</div>