﻿@model Dunnel.io.Models.SearchResultsViewModel

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

<h2 class="text-center">Results</h2><br/>

<div class="container">
  @{
    Html.RenderPartial(Model.Results.Count > 0 ? "_HasResults" : "_NoResults");
   }
</div>
