﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #BFBFBF;
    padding-top: 70px;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.welcome-text {
  text-align: center;
  color: darkgrey;
}

.sign-in-div {
  text-align: center;
}

.iframe {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #9d9d9d;
 }

.password-input {
  margin-bottom: 40px;
}

.form-input {
  margin-top: 35px;
}

.ui-autocomplete { position: absolute; cursor: default; }

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1.2;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
  background-color: #222;
  color: #9d9d9d;
  font-family: sans-serif;
  border-radius: 0px;
  border: 1px solid #454545;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

#map {
  height: 400px;
  width: 500px;
  float: right;
}

.map-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results {
  width: 300px;
}